.venv*/**
*.gz
PA0/cifar10-data/cifar-10-batches-py
PA0/cifar10-data/cifar-10-python.tar.gz
*.zip
__pycache__
PA0/vit-task_precomputed/*
PA0/vit-task/precomputed/
.env
PA0/*.JPEG
PA0/stl10-data/test_images
PA0/stl10-data/test.json
PA0/mnist-data/
*.pt
.vscode
