.venv*/**
*.gz
**/cifar10-data
*.zip
__pycache__
PA0/vit-task_precomputed/*
PA0/vit-task/precomputed/
.env
PA0/*.JPEG
PA0/stl10-data/test_images
PA0/stl10-data/test.json
PA0/mnist-data/
PA0/vae-task/*.pt
.vscode
